.ba-footer{
	background-color:  #212121;
	min-height: 244px;
	padding-top: 46px;
	&__info{
		color: #fff;
	}
	&__advisor{
		text-align: center;
		color: #fff;
	}
}
.ba-socials{
	color: #fff;
	margin: 0;
	&:hover{
		color:  #5a477d;
	}

}
.ba-links{
	list-style: none;
	a{
	color:  #646464;
	font-size: 16px;
	font-weight: 700;
		&:before{
			content: ">";
			color:  #5a477d;
			font-size: 18px;
			font-weight: 400;
		}
	}
}
