.ba-header{
	margin: 0 0 9px 53px;
}
.ba-main-menu{
	li{
		padding-left: 10px;
		a{
			color:  #000000;
			font-weight: 700;
			text-transform: uppercase;
			&:hover, &:focus{
				color: $primary-color;
			}
			@include breakpoint(medium down) {
				text-align: right;
			}
		}
	}
}
