
.button{
	font-family: $header-font-family;
	background-color:  #5a477d;
	width: 257px;
	height: 69px;
	text-align: left;
	line-height: 30px;
	color:  #ffffff;
	font-size: 25px;
	font-weight: 400;
	margin: 0 auto;
}

.ba-intro{
	.row.column{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.ba-live{
	font-family: $header-font-family;
	color:  #fefefe;
	font-size: 50px;
	font-weight: italic;
	text-transform: uppercase;
}
.ba-cover{
	background-color:  rgba(0, 0, 0, 0.8);
}

.ba-slider__slide{
		min-height: 100vh;
		display: flex;
		text-align: center;
		color: #fff;
		background: 50%;
		background-size: cover;
	}
.ba-title{
	font-family: $header-font-family;
	color:  #000000;
	font-weight: 400;
	line-height: 88px;
	text-transform: uppercase;
	text-align: center;
}
.ba-scroll{
	font-size: 25px;
	font-style: italic;
	text-decoration: none;
	color: #FFF;
	position: absolute;
	bottom: 100px;
	right: 100px;
	&:hover{
		text-decoration: none;
		color: #FFF;
		opacity: 0.7;
	}
	@media (max-width: 1700px){
		&{
			left: 0;
			right: 0;
			text-align: center;
			bottom: 160px;
		}
	}

	i{
		font-size: 35px;
		margin-left: 20px;
		position: relative;
		top: 10px;
	}
}

// ba-book-now
.ba-book-now{
	max-width: 1068px;
	margin: 0 auto;
	box-shadow: 0 0 100px 20px rgba(0,0,0, .2);
	padding: 50px 30px 35px;
	position: relative;
	top: -142px;
	background: #FFF;
	&__row{
		width: calc(100% - 285px);
		float: left;
	}
	form{
		padding: 0;
	}
	input{
		font-size: 20px;
		font-weight: 300;
		display: block;
		width: 100%;
		margin-bottom: 30px;
		height: 65px;
		line-height: 65px;
		padding: 0 25px;
		border: 2px solid #5a477d;
		background: #FFF url("../img/home/date.svg") 95% 50% no-repeat;
		&[name="number"]{
			background-image: url("../img/home/men.svg");
		}
	}
	p{
		margin: 30px auto 45px;
		max-width: 930px;
	}
}
@media (max-width: 1200px){
	.ba-book-now{
		&__row{
			width: 100%;
			margin: 0;
			float: none;
		}
		button{
			float: none;
		}
	}
}
// section
.ba-section{
	text-align: center;
	margin-bottom: 100px;
}

.ba-description{
	p{
	color:  #808080;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
		&:first-letter {
		font-family: $header-font-family;
	    color:  #5a477d;
		font-size: 47px;
		font-weight: 400;
	    }
	}
}
.ba-bedroom__content{
	text-align: left;
}
// activity
.ba-activities__img:hover .ba-activities__overlay{
	visibility: visible;
	opacity: 1;
}

.ba-activity:hover .ba-activity__text{
	position: absolute;
	bottom: 30%;
	left: 8%;
}
.ba-activity__img{
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
	}
	&:hover{
		.ba-activity__text{
			transform: translateY(0);
		}
	}
}
.ba-activity__text{
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 25px;
	text-align: left;
	transform: translateY(160px);
	transition: transform .4s ease-in;
	padding-bottom: 25px;
	h3{
		font-weight: 400;
		text-transform: uppercase;
	}
	p{
		margin: 20px 0;
		font-size: 14px;
		line-height: 1.3;
		max-width: 70%;
		height: 72px;
		overflow: hidden;
	}
	a{
		font-size: 25px;
		color: #FFF;
		position: relative;
		&:hover{
			text-decoration: none;
			left: 5px;
		}
	}
}
.ba-activity__overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, #000 0%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 100%);
}
