
.button{
	font-family: $header-font-family;
	background-color:  #5a477d;
	width: 257px;
	height: 69px;
	text-align: left;
	line-height: 30px;
	color:  #ffffff;
	font-size: 25px;
	font-weight: 400;
	margin: 0 auto;
}

.ba-intro{
	.row.column{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.ba-live{
	font-family: $header-font-family;
	color:  #fefefe;
	font-size: 50px;
	font-weight: italic;
	text-transform: uppercase;
}
.ba-cover{
	background-color:  rgba(0, 0, 0, 0.8);
}

.ba-slider__slide{
		min-height: 100vh;
		display: flex;
		text-align: center;
		color: #fff;
		background: 50%;
		background-size: cover;
	}
.ba-title{
	font-family: $header-font-family;
	color:  #000000;
	font-weight: 400;
	line-height: 88px;
	text-transform: uppercase;
	text-align: center;
}

// ba-book-now
.ba-book-now{
	padding: 50px 33px 55px;
	text-align: center;
	background-color:  #ffffff;
	max-width: 1068px;
	height: 339px;
	position: relative;
	bottom: 100px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	margin-left: auto;
	margin-right: auto;
}
.ba-book{
	input{
		border: 2px solid #5a477d;
		box-sizing: border-box;
		background-color:  rgba(214, 214, 214, 0);
		width: 200px;
		height: 65px;

	}
	&__button{
		width: 250px;
		height: 65px;
	}
	&__icons{
		position: relative;
	}
}
.ba-fa{
	position: absolute;
	top: 30%;
    right: 20%;
}
// section
.ba-section{
	text-align: center;
	margin-bottom: 100px;
}

.ba-description{
	p{
	color:  #808080;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
		&:first-letter {
		font-family: $header-font-family;
	    color:  #5a477d;
		font-size: 47px;
		font-weight: 400;
	    }
	}
}
.ba-bedroom__content{
	text-align: left;
}
.ba-activity{
	position: relative;
	&__text{
	text-transform: uppercase;
    font-size: 35px;
    color: #fefefe;
    position: absolute;
    bottom: 10%;
    left: 8%;
	}
}
.ba-activities{
	position: relative;
	&__img{
		color:  #fefefe;
		position: relative;
	    text-align: left;
	    display: block;
    @include breakpoint(medium down) {
		margin-bottom: 20px;
	}
    }
	&__overlay {
		position: absolute;
		bottom: 3%;
		left: 7%;
		z-index: 1;
		color: #FFF;
		visibility: hidden;
		opacity: 0;
		transition: opacity .2s, visibility .1s;
    }
}
.ba-activities__img:hover .ba-activities__overlay{
	visibility: visible;
	opacity: 1;
}

.ba-activity:hover .ba-activity__text{
	position: absolute;
	bottom: 30%;
	left: 8%;
}
