<!-- BEGIN ba-footer  -->
<div class="ba-footer">
    <!-- BEGIN row column  -->
    <div class="row column">
        <!-- BEGIN column medium-3  -->
        <div class="column medium-3 ba-footer__info">
            <h5>Connect with us</h5>
            <p>Social media channels</p>
            <ul class="ba-socials menu simple">
              <li><a href="#"><i class="fa fa-facebook ba-socials" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter ba-socials" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p ba-socials" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- END column medium-3 -->
        <!-- BEGIN column medium-3  -->
        <div class="column medium-3 ba-footer__info">
            <h5>Newsletter sign up</h5>
            <p>Sign up for a special offers</p>
            <div><img src="../assets/img/home/footer_right.jpg" alt=""></div>
        </div>
        <!-- END column medium-3 -->
        <!-- BEGIN column medium-3  -->
        <div class="column medium-3">
            <ul class="ba-links">
              <li><a href="#">Informations légales</a></li>
              <li><a href="#">Links</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
        </div>
        <!-- END column medium-3 -->
        <!-- BEGIN column medium-3  -->
        <div class="column medium-3 ba-footer__advisor">
            <h5>Certificate of Excellence</h5>
            <time datetime="2017">2017</time>
            <div><img src="../assets/img/home/trip_footer.png" alt=""></div>
            <h6>Aria Hotel &amp; Resort</h6>
        </div>
        <!-- END column medium-3 -->
    </div>
    <!-- END row column -->
</div>
<!-- END ba-footer -->
