<header class="ba-header">
  <!-- BEGIN row column  -->
  <div class="row column">
    <div class="top-bar">
      <div class="top-bar-title">
        <a href="index.html" class="ba-logo">
          <img src="assets/img/home/logo.png" alt="">
        </a>
      </div>
        <span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon gray" type="button" data-toggle></button>
        </span>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="ba-main-menu menu vertical medium-horizontal">
            <li><a href="index.html">HOME</a></li>
            <li><a href="rooms.html">ROOMS &amp; SUITES</a></li>
            <li><a href="develop.html">ABOUT</a></li>
            <li><a href="develop.html">EVENTS</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END row column -->
</header>
